* {
  background: #a879c8;
  margin-left: 13px;
  margin-right: 23px;
  align-items: center;
}

body {
  background: #ff7600;
  align-items: center;

  height: 100%;
  width: 100%;
}

.a {
  background-color: white;
}

.wind {
  width: auto;
  margin: auto;
  align-items: center;
  padding: auto;
}

.Earth,
.hail,
.flood,
.drought,
.snow,
.tor,
.wild,
.tsu,
.vol,
.bli,
.ava,
.storm,
.fire {
  display: flex;
}
@media screen and (max-width:600px) {
  .wind{
    
    display: none;
  }
  
}