* {
    background: #a879c8;
margin-left: 13px;
margin-right: 23px;
align-items: center
}

body {

background: #ff7600;
align-items: center;

height: 100%;
width: 100%;


}

.a {
background-color: white;


}

.wind {
width:auto;
margin: auto;
align-items: center;;
padding: auto


}

.Earth {
display: flex;
}

.flood {
display: flex;
}

.drought {
display: flex;
}

.snow {
display: flex;
}

.tor {
display: flex;
}

.wild {
display: flex;
}

.tsu {
display: flex;
}

.vol {
display: flex;
}

.bli {
display: flex;
}

.ava {
display: flex;
}

.storm {
display: flex;
}

.fire {
display: flex;
}

.hail {
display: flex;
}