body {
    background: url('/images/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: auto;
}

body,
ul {

    margin: 0;
    padding: 0;
}

/* Style the header and navigation bar */
header {
    background-color: #0073e6;
    color: white;
    padding: 10px 0;
}

.a1 {
    margin: 23px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

.at {
    margin-left: -23%;
}

/* Style the navigation links */
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    display: flex;

}

.container img,
.img img {
    width: 355px;
}

.img {
    display: flex;
    margin: 30px;

}

.img img {
    margin-left: -61%;
    margin-right: 30px;
}

.content {
    margin: auto;
    padding: auto;
    align-items: center;
}

.h1 {
    margin: auto;
    padding: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;


}

.b1,
.b2,
.b3,
.b4 {
    border: 2px solid black;
    padding: 143px;
    margin: 5px;
    border-radius: 13px;
    background: rgb(97, 178, 126);
}


.next,
.last {
    margin: auto;
    padding: auto;
    align-items: center;
    display: flex;
    flex-direction: column;

}